html::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.navbar{
  height:80px;
  background-color: #E0F2FE;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height:60px;
  font-style:oblique;
  font-variant-caps: petite-caps;
  text-emphasis-color:inherit;
  font-size: 40px;
  font-weight: 600;
  padding-left: 5px;
  color: #2C77BB;
}
.options{
  display: flex;
  justify-content: space-around;
  width:300px;
  padding-right: 10px;
  padding-left: 30px;
  font-size: 25px;
  font-weight: 600;
}
.profile{
  height:50px;
  width:50px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  background-color: rgb(186, 186, 186);
  color:white;
  margin-right: 5px;
}

.caption{
  margin:0 0 12px 0;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-style: italic;
}
a:visited,a{
  text-decoration: none;
  color:#2C77BB
}
a:hover{
  color:rgba(195, 0, 255, 0.571);
}
.pack-1{
  display: flex;
  align-items: center;
}
.loggo{
  display: flex;
  align-items:flex-end;
}

.cat-1{
  z-index: -1;
  left:0;
  top:0px;
  background-color:rgba(246, 231, 241, 0.503);
  width: 18%;
  max-width:30%;
  display:flex;
  flex-direction: column;
  gap:40px;
  align-items:center;
  border-right: 1px #000000 solid ;
  font-size: large;
  font: bold;
  overflow-y: scroll;
  height: 82svh;
  position: sticky;
  left: 0;
}
.cat-1>div a{
  color:rgba(70, 214, 227, 0.784);
  font-size:30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  
}
.cat-1>div a:hover{
  color:rgb(239, 72, 72);
}
.cat-1::-webkit-scrollbar {
  display: none;
}
.dummy{
  padding:40px;
}
.search-nav{
  height:70px;
  border:solid black 2px;
  background-color: red;
}
.fixed{
  position: sticky;
  top: 0;
}
@media (width<=269px){
  .cat-1{
    width:70px;
    background-color: red;
  }
  
}
@media (width<=735px){
  
  .logo{
    font-size: 15px;
    text-wrap:nowrap;
  }
  .navbar{
    height:50px;
    flex-wrap: nowrap;
  }
  .caption{
    font-size: 10px;
    text-wrap:nowrap;
    display: none;
  }
  .options{
    width:150px;
    font-size: 10px;
  }
  a,a:visited{
    color:black;
  }
  .profile{
    height: 30px;
    width:30px;
    font-size: 15px;

  }
  .loggo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }



}
